html,body{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(ocean.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1{
	font-size: 2rem;
	color: white;
	text-transform:uppercase;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary{
	background-color: #CD5699;
	border-color: #CD5699;
}

.btn-primary:hover{
	background-color: #9A366F;
	border-color: #9A366F;
	border-width: 4px;
}

.btn-xl{
	padding: 1rem 2rem;
}

hr {
    border-width: 3px;
    margin: 20px auto;
    color: #CD5699;
    border: 3px solid #CD5699;
    max-width: 65px;
    opacity: 1;  
}

.buffer{
	height: 5rem;
}